
<form name="accountForm" class="form-horizontal col-sm-4" novalidate>

    <div class="form-group">
        <label for="firstName" class="col-sm-4 control-label">{{"FirstName"|translate}}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="firstName" ng-model="firstName" name="firstName" required>
            <div class="text-danger" ng-show="accountForm.firstName.$error.required && accountForm.firstName.$dirty">Please enter your first name.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-4 control-label">{{"LastName"|translate}}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="lastName" id="lastName" ng-model="lastName" required>
            <div class="text-danger" ng-show="accountForm.lastName.$error.required && accountForm.lastName.$dirty">Please enter your last name.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="age" class="col-sm-4 control-label">{{"Age"|translate}}</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="age" ng-model="newCustomer.age">
        </div>
    </div>

    <div class="form-group">
        <label for="dob" class="col-sm-4 control-label">{{"DOB"|translate}}</label>
        <div class="col-sm-8">
            <p class="input-group">
                <input class="form-control" datepicker-popup="{{format}}"
                       ng-model="selectedDOB" is-open="dobOpened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDOBDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="joinDate" class="col-sm-4 control-label">{{"JoinDate"|translate}}</label>
        <div class="col-sm-8">
            <p class="input-group">
                <input class="form-control" datepicker-popup="{{format}}"
                       ng-model="selectedJoinDate" is-open="joinDateOpened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openJoinDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="personalInformation" class="col-sm-4 control-label">{{"PersonalInformation"|translate}}</label>
        <div class="col-sm-8">
            <textarea style="resize:vertical;" class="form-control" id="personalInformation" ng-model="newCustomer.personalInformation"></textarea>
        </div>
    </div>

    <div class="form-group col-sm-9">
        <input type="submit" class="btn btn-default pull-right" ng-click="save(newCustomer)" value="{{'Create' | translate}}"
               ng-disabled="accountForm.firstName.$invalid || accountForm.lastName.$invalid">
    </div>

</form>
