
<script type="text/x-handlebars" data-template-name="application">
    <div class="row center">
        <h1>Github Namshub</h1>
        <hr />
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
    <p>This is the Github explorer for all of our favorite developers</p>
    <ul>
        {{#each model as |user|}}
        <li>{{#link-to 'profile' user.login}}{{user.name}}{{/link-to}}</li>
        {{/each}}
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="profile">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <p class="text-center">
                    {{#link-to 'profile' model.login}}<img src={{model.avatar_url}} style="width:140px" />{{/link-to}}
                </p>
                <h4>{{#link-to 'profile' model}}{{model.name}}{{/link-to}}</h4>
                <p>
                    {{model.company}}<br />
                    {{model.location}}<br />
                    {{model.email}}<br />
                </p>
                <hr />
                <table class="table table-striped">
                    <tr><td>Followers:</td><td>{{model.followers}}</td></tr>
                    <tr><td>Reopsitories: </td><td>{{model.public_repos}}</td></tr>
                    <tr><td>Gists: </td><td>{{model.public_gists}}</td></tr>
                </table>
                <p>
                    {{#link-to "index"}}Back{{/link-to}}
                </p>
            </div>
        </div>
        <div class="col-md-8">
            {{outlet}}
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="profile/index">
    <h1>{{model.name}}'s Github</h1>
    <hr />
    <ol class="breadcrumb">
        <li>Repositories</li>
    </ol>
</script>