
<script type="text/x-handlebars" data-template-name="application">
    <h1>Welcome to EmberJS!</h1>
    <p>{{model.message}}</p>
    {{outlet}}
</script>

<script type="text/x-handlebars"  data-template-name="index">
    <p>{{model.message}}</p>
    <p>Current time is: {{thirdComputedProperty}}</p>
</script>

