
<script type="text/x-handlebars">
    <h1>Welcome to EmberJS!</h1>
    <p>{{model.message}}</p>
    {{outlet}}
</script>

<script type="text/x-handlebars"  data-template-name="home">
    <p>{{model.message}}</p>
    <p>Current time is: {{secondComputedProperty}}</p>
    <p>Test: {{test}}</p>
</script>

